.fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 200px;
  padding: 10px;
  border: 1px solid black;
}

.fieldRow {
  display: flex;
  max-width: 200px;
  justify-content: space-between;
}
